{% capture category %}{{ post.categories | size }}{% endcapture %}
{% capture tag %}{{ post.tags | size }}{% endcapture %}
<ul>
	<li>
		{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span>"}}
		> <a href="{{ root_url }}{{ post.url }}">{{post.title}}</a>
		{% if category != '0' or tag != '0' %}
		<footer>
		{% if category != '0' %}
		  <span class="categories">Posted in {{ post.categories | category_links }}</span>
		{% endif %}
		{% if tag != '0' %}
		  <span class="tags">Tagged with {{ post.tags | tag_links }}</span>
		{% endif %}
		</footer>
		{% endif %}
	</li>
</ul>
