{% unless page.no_header %}
<header>
    {% if index %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
         | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
        {% endif %}
      </p>
    {% endunless %}
</header>
{% endunless %}

{% if index %}
  <div class="entry-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
  <div class="entry-content">{{ content }}</div>
{% endif %}

<!-- Wumii Related Items BEGIN -->
<section>
  <script type="text/javascript" id="wumiiRelatedItems"></script>
</section>
<!-- Wumii Related Items END -->

<!-- UJian Button BEGIN -->
<!--
<div class="ujian-hook"></div>
<script type="text/javascript">var ujian_config = {num:10,lkrc:5,target:1,picSize:84,textHeight:45,hoverTextColor:'#FF0000'};</script>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=1858162"></script>
<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="JiaThisRecommend" style="border:0;padding:0;margin:0;" /></a>
-->
<!-- UJian Button END -->
